.display-page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  background: #6DAAD8;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  gap: 110px;
}

.left-panel {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baja-logo {
  max-width: 530px;
  max-height: 271px;
  object-fit: contain;
  margin-top: 30px;
}

.prologo-title-container {
  width: 560px;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #14638D;
  box-sizing: border-box;
  margin-bottom: 31px;
}

.prologos-title {
  font-size: 30px;
  font-weight: bold;
  color: #14638D;
  margin: 0;
}

.right-panel {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partida-title-container {
  width: 568px;
  height: 116px;
  background: #14638D;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  box-sizing: border-box;
  margin-top: 80px;
}

.partida-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: 0;
  text-align: center;
}

.competitors-results {
  display: flex;
  width: 560px;
  flex-direction: column;
  gap: 9px;
}

.result-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.position-box {
  width: 53px;
  height: 53px;
  background: #14638D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.position-number{
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.prologos-row {
  width: 509px;
  height: 53px;
  flex: 1;
  display: flex;
  flex-direction: row;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-sizing: border-box;
}

.number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 53px;
}

.number{
  font-size: 30px;
  font-weight: bold;
}

.car-brand-box{
  display: flex;
  align-items: center;
  justify-items: center;
}

.brand-logo {
  width: 100px;
  height: 50px;
  object-fit: contain;
}

.crew-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flag-icon{
  width: 40px;
  height: 20px;
  object-fit: contain;
}

.pilot-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.pilot-name{
  font-size: 15px;
}

.navigator-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

.navigator-name{
  font-size: 15px;
}

.time-box{
  display: flex;
  align-items: center;
  justify-items: center;
}

.slot-container{
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 53px;
}

.background-container{
  position: absolute;
  width: 509px;
  height: 53px;
  background: #14638D;
  z-index: -1;
}

.slot-position-box{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 53px;
  height: 53px;
  position: relative;
  left: 5px;
}

.slot-position-number{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.slot-empty{
  flex: 1;
  display: flex;
  background: white;
  width: 509px;
  height: 53px;
  position: relative;
  top: 10px;
}

.start-positions{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.selecting-competitor {
  margin-top: 20px;
  display: flex;
  align-self: flex-end;
}

.nav-links{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controller-page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  background: #6DAAD8;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
}